<!-- INÍCIO DO CONTEÚDO -->
      <section class="content-header">
        <h1>Sobre</h1>
      </section>

      <section class="content">
          <p class="lead">
            Jogos.com | Aplicação que demonstra as features do Angular
          </p>
          <p class="lead">
            MIT license
          </p>
          <p class="lead">Copyright 2017 COD3R (<a href="http://www.cod3r.com.br">http://www.cod3r.com.br</a>)</p>
          <p class="lead">A jogos.com nasceu da alegria de jogar videogame e hoje nosso trabalho é perpetuar essa alegria a todos os nossos clientes com comprometimento, qualidade e paixão pelos games, que são fundamentais nas atividades dos funcionários, gerentes e sócios, motivando-os cada dia mais. Atuamos no mercado de videogames e vendemos consoles de última geração, os melhores jogos e os acessórios indispensáveis para um ótimo entretenimento, sempre nos atualizando, visando acompanhar o progresso da tecnologia dos games.</p>
          <p class="lead">The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.            </p>
          <p class="lead">
          Desde o início, nos dedicamos ao perfeito atendimento de nossos clientes com o compromisso de trazer as novidades desse mundo, fornecer produtos, informações e consultorias necessárias, trazer a todos, crianças ou adultos, homens ou mulheres, todo o conhecimento sobre esse fantástico mundo que impressiona, cativa, empolga e diverte geração pós geração. Sempre com produtos de ótima qualidade, confiável procedência e com uma garantia estendida que lhe dará a segurança que irá proporcionar a convicção de que você realizará o melhor negócio. Nosso principal objetivo é oferecer tudo que existe de melhor do mundo dos videogames, lhe garantindo momentos de diversão com amigos, família ou mesmo sozinho.</p>
          <p class="lead">
            Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
          </p>

        </section>
    <!-- FIM DO CONTEÚDO -->
